html{
  font-size: 62.5%;
  background-color: rgb(34, 34, 34);
  color: #fff;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  display:flex;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
  font-size: 2.5rem;
  padding: 10px;
  background: #fff;
  color: purple;
  border-radius: 5px;
}